{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1>Edit <span class="purple-text text-darken-3">{{ object.name }}</span></h1>
{% else %}
    <h1>Add Album</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label class="name" for="exampleFormControlInput1">Name</label>
        <input class ="form-control" type="text" name="name" maxlength="100" required="" id="id_name">
    </div>
    <div class="form-group">
       <label class="description" for="exampleFormControlTextarea1">Description</label>
        <textarea class ="form-control" name="description" required="" id="id_description"></textarea>
    <table>
    </div>  
    <input type="submit" value="Add to Space!" class="btn">
</form>
{% endblock %}