{% extends 'base.html' %}
{% block content %}

<h1>All Saved APOD</h1>


    <div class="card__container">
{% for apod in request.user.apods.all %}
        <div class="card">
            <img src="{{ apod.url }}" class="card-img-top">
            <div class="card-body">
                <div class="card-title">{{ apod.title }}</div>
                <div class="card-text">{{ apod.date }}</div>
                <div class="card-action">
                    <a href="{% url 'apod_detail' apod.id %}">
                        <button  class="btn-pod-details">Details</button>
                    </a>
                    <form action="{% url 'apod_delete' apod.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn-pod">Delete</button>
                    </form>
                </div>
            </div>
        </div>
{% endfor %}

    </div>

{% endblock %}