{% extends 'base.html' %}
{% block content %}

<form action="{% url 'apod_index' %}" method="GET">
    <input type="date" name="date" value="{{ selected_date }}">
    <input class="btn" type="submit" value="Get Picture">
</form>
<form action="{% url 'apod_save' %}" method="GET">
    <input type="hidden" name="date" value="{{ selected_date }}">
    <input class="btn" type="submit" value="💜">
</form>
<div>
    {% if imageData %}
        <h1> {{ imageData.title }}</h1>
        <h1> {{ imageData.date }}</h1>
        <p> {{ imageData.explanation }}</p>
        <img src="{{ imageData.url }}">
    {% else %}
        <h4>No image selected or found, please try again</h4>
    {% endif %}
</div>
<div>
    {% if error %}
        <h4>{{ error }}</h4>
    {% endif %}
</div>
{% endblock %}