{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
	<div class="row main-content bg-success text-center">
		<div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
            <h4 class="company_title">
                <img src="{% static 'css/media/spacecat.png' %}" class="cat-login"/>
            </h4>
        </div>
		<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
			<div class="container-fluid">
				<div class="row">
					<h2>Sign Up</h2>
				</div>
					<div class="row">
                    	<p class="red-text text-danger">{{ error_message }}</p>
						<form class="form-group" method="POST" action="{% url 'signup' %}">
                                {% csrf_token %}
							<div class="row">
								<input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" class="form__input" placeholder="username">
							</div>
							<div class="row">
								<input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="form__input" placeholder="password">
							</div>
							<div class="row">
								<input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="form__input" placeholder="confirm password">
							</div>			
							<div class="row">
								<input type="submit" value="Sign Up" class="btn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
