{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
    <h1>Welcome to Space</h1>
{% else %}
    <p>Log in to access the universe</p>
{% endif %}

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello World</p>
    {% if user.is_authenticated %}
        <p>User is logged in</p>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
    {% else %}
        <p>User is not logged in</p>
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
    {% endif %}
</body>
</html> -->