* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: rgb(30, 31, 39);
	color: white;
}

h3 {
	height: 60px;
}

.selector-for-some-widget {
	box-sizing: content-box;
}

#wrap {
	min-height: 90%;
	.container {
		overflow: auto;
		padding-bottom: 20px;

		.row {
			.col {
				.photos {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					gap: 10px;
					.card {
						border-color: rgb(255, 125, 72);
						background-color: darkgrey;
						width: 250px;
						.card-body {
							.card-title {
								height: 66px;
							}
						}
					}
				}
			}
		}
	}
}

.footer {
	height: 50px;
	clear: both;
	padding-top: 20px;
	margin: 0 20px;

	h2 {
		font-size: 12px;
	}
}


.card__container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;

	.card {
		width: 200px;
		border-radius: 30px;
		background-color: rgb(26, 70, 180);
		border-color: rgb(255, 125, 72);
	}
	
	.card-title {
		color: rgb(255, 125, 72);
	}

	.card-text {
		color: rgb(198, 60, 226);
	}
}

.card-img-top {
	height: 180px;
	border-radius: 30px;
	border: 1px solid rgb(255, 125, 72);
}

.card-title {
	height: 48px;
}

.card {
	margin-bottom: 10px;
	border-radius: 30px;
}

.main-content {
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
	margin: 5em auto;
	display: flex;
}

.company__info {
	background-color: rgb(12, 0, 46);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.cat-logo {
	height: 50px;
	width: 50px;
	margin-left: 20px;
}

.cat-login {
	height: 120px;
	width: 120px;
}

.navbar-custom {
	background-color: rgb(12, 0, 46);
}

.app-title {
	font-size: 1.5rem;
	font-weight: bold;
}
  
.nav-link {
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
}

.nav-link:hover {
	color: rgb(255, 125, 72);
}

/* @media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
} */
.row>h2 {
	color: rgb(255, 125, 72);
}

.login_form {
	background-color: rgb(26, 70, 180);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top: 1px solid rgb(255, 125, 72);
	border-right: 1px solid rgb(255, 125, 72);
}

form {
	padding: 0 2em;
}

.form__input {
	width: 100%;
	border: 0px solid transparent;
	border-radius: 10px;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline: none;
	margin: 1em auto;
	transition: all .5s ease;
}

.form__input:focus {
	border-bottom-color: grey;
	box-shadow: 0 0 5px rgba(0, 80, 80, .4);
	border: 1px solid rgb(255, 125, 72);
	border-radius: 15px;
}

.btn,
.btn-pod,
.btn-pod-details,
.btn-add,
.btn-remove,
.btn-details-album,
.btn-savephoto {
	transition: all .5s ease;
	width: auto;
	padding: 0.5rem 1.5rem;
	border-radius: 30px;
	color: rgb(255, 125, 72);
	font-weight: 600;
	background-color: rgb(12, 0, 46);
	border: 1px solid rgb(255, 125, 72);
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.btn-pod-details,
.btn-details-album {
	width: auto;
	padding: 0.5rem 1.5rem;
}

.btn:hover,
.btn:focus,
.btn-savephoto:hover,
.btn-savephoto:focus {
	background-color: grey;
	color: #fff;
}

.btn-savephoto {
	height: 42px;
	margin: auto;
	display: block;
}

.btn-pod-details:hover, 
.btn-pod-details:focus {
	background-color: rgb(198, 60, 226);
	color: white;
}

.btn-pod:hover,
.btn-pod:focus,
.btn-remove:hover, 
.btn-remove:focus {
	background-color: red;
	color: white;
}

.btn-add:hover,
.btn-add:focus {
	background-color: green;
	color: white;
}

.card {
	transition: box-shadow 0.3s ease;
	text-align: center;
}

.card:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#date-style {
	display: flex;
	background-color: rgb(255, 125, 72);
	border: 1px solid rgb(255, 125, 72);
	border-radius: 10px; 
	padding: 5px; 
	margin-right: 18px;
	margin-top: 8px;
  }
  
  #apod-idx-save {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  
  #get-apod-form,
  #apod-save-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px; 
  }
  
  #apod-save-pic {
	display: flex;
	justify-content: center;
  }
  

