* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  /* background-color: rgb(22, 26, 31); */
  /* 36, 38, 47 */
  background-color: rgb(30, 31, 39);
  /* ! added */
  color: white;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

#wrap {
  min-height: 90%;
}

.footer {
  height: 50px;
  clear: both;
  padding-top: 20px;
  margin: 0 20px;
}
.footer h2 {
  font-size: 1.2rem;
}

.container {
  overflow: auto;
  padding-bottom: 20px;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.card__container .card {
  width: 200px;
  border-radius: 30px;
  background-color: lightgrey;
}

.card-img-top {
  height: 180px;
  border-radius: 30px;
}

.card {
  margin-bottom: 10px;
  border-radius: 30px;
}

.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
}

.company__info {
  background-color: rgb(12, 0, 46);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.cat-logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.cat-login {
  height: 120px;
  width: 120px;
}

.navbar-custom {
  background-color: rgb(12, 0, 46);
}

/* @media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
} */
.row > h2 {
  color: rgb(12, 0, 46);
}

.login_form {
  background-color: rgb(26, 70, 180);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid rgb(255, 125, 72);
  border-right: 1px solid rgb(255, 125, 72);
}

form {
  padding: 0 2em;
}

.form__input {
  width: 100%;
  border: 0px solid transparent;
  /* ! border radius increased */
  border-radius: 10px;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 1em auto;
  transition: all 0.5s ease;
}

.form__input:focus {
  border-bottom-color: grey;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  /* ! radius increased & border with colour added */
  border: 1px solid rgb(255, 125, 72);
  border-radius: 15px;
}

.btn {
  transition: all 0.5s ease;
  /* ! changed from 100% width to auto & added padding */
  width: 100%;
  padding: 0.5em 2em;
  border-radius: 30px;
  color: rgb(255, 125, 72);
  font-weight: 600;
  background-color: rgb(12, 0, 46);
  border: 1px solid rgb(255, 125, 72);
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.btn:hover,
.btn:focus {
  background-color: grey;
  color: #fff;
}

.card {
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-pod {
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 30px;
  color: grey;
  font-weight: 600;
  background-color: lightgrey;
  border: 1px solid grey;
  margin-top: 1em;
}

.btn-pod:hover,
.btn-pod:focus {
  background-color: red;
  color: #fff;
}/*# sourceMappingURL=style.css.map */

#date-style {
  display: flex;
  background-color: rgb(255, 125, 72);
  border: 1px solid rgb(255, 125, 72);
  border-radius: 10px; 
  padding: 5px; 
  margin-right: 10px;
}

/* #apod-idx-save {
  display: flex;
  justify-content: center;
  align-items: center;
} */


#get-apod-form,
#apod-save-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px; 
}

/* #apod-save-pic {
  display: flex;
} */
